:root {
    --font: 'Lato', sans-serif;
    --basic-font-size: 14px;
    --primary: #0023ff;
    --secondary: #f0f0f0;
    --primary-text: #000;
    --secondary-text: #a8a8a8;
    --shadow: 0 0 25px rgba(219, 219, 219, 0.5);
  }
  
  
  /**==================================================
  *** 0. Helper classes
  ===================================================**/
  
  .link {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    background: var(--primary);
    line-height: 1;
    font-weight: 800;
    font-size: 1.28rem;
    color: #fff;
    border: 1px solid var(--primary);
    transition: color .2s linear, background .2s linear;
    padding: 14px 50px;
    border-radius: 35px;
  }
  
  .link:hover {
    color: var(--primary);
    background: transparent;
  }
  
  /**==================================================
  *** 1. Default settings
  ===================================================**/
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    min-height: 100vh;
  }
  
  body {
    font-family: var(--font);
    font-size: var(--basic-font-size);
    color: var(--primary-text);
    background: var(--secondary);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  
  p {
    margin-top: 0;
    line-height: 1.57;
    font-weight: 300;
  }
  
  .content {
    padding-left: 144px;
    min-height: 100vh;
  }
  
  /**==================================================
  *** 2. Aside
  ===================================================**/
  
  .main-aside {
    padding: 30px 0 100px 0;
    background: #fff;
    width: 144px;
    height: 100vh;
    box-shadow: var(--shadow);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-aside__nav {
    margin-top: 140px;
    flex: 1 0;
  }
  
  .main-aside__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  .main-aside__nav-item:not(:last-child) {
    margin-bottom: 75px;
  }
  
  .main-aside__nav-item:last-child {
    margin-top: auto;
  }
  
  .main-aside__nav-link {
    font-size: 25px;
    color: #d8d8d8;
    transition: color .2s linear;
  }
  
  .main-aside__nav-link:hover {
    color: var(--primary);
  }
  
  
  /**==================================================
  *** 3. Main page
  ===================================================**/
  
  .main-page {
    width: 100%;
    height: 100vh;
    background: url('../img/bg.png') center bottom no-repeat/cover;
    padding: 140px 0;
  }
  
  .main-page__description {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  
  .main-page__title {
    font-size: 15.7rem;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 30px;
    letter-spacing: 6px;
  }
  
  .main-page__sub-title {
    text-transform: uppercase;
    font-size: 2.57rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  
  
  
  /**==================================================
  *** 4. Navigation
  ===================================================**/
  
  .nav {
    width: 374px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    box-shadow: var(--shadow);
    padding: 170px 70px 120px 20px;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: transform .2s linear;
  }
  
  .nav.active {
    transform: translateX(0);
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .nav__item:not(:last-child) {
    margin-bottom: 60px;
  }
  
  .nav__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
  }
  
  .nav__link:hover .nav__title {
    color: var(--primary);
  }
  
  .nav__title {
    text-transform: uppercase;
    color: #c1c1c1;
    font-size: 1.28rem;
    transition: color .2s linear;
  }
  
  .nav__icon {
    width: 80px;
    margin-left: 20px;
    display: flex;
  }
  
  .nav__icon > img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  .nav-btn {
    background: #fff;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 0;
    position: fixed;
    right: 55px;
    top: 75px;
    z-index: 99;
    transition: color .2s linear;
  }
  
  .nav-btn:hover {
    color: var(--primary);
  }