* {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    min-height: 100vh;
  }
  
  body {
    font-family: $font;
    font-size: $basic-font-size;
    color: $primary-text;
    background: $secondary;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  
  p {
    margin-top: 0;
    line-height: 1.57;
    font-weight: 300;
  }
  
  .content {
    padding-left: 144px;
    min-height: 100vh;
  }